version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    versioning-strategy: increase
    groups:
      all:
        patterns:
          - "*"
    ignore:
      - dependency-name: "@types/node"
        update-types:
          - "version-update:semver-major"
      # can't be updated without also updating the Docker image in build.yml
      - dependency-name: "@playwright/test"

  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
