{
  "extends": "./node_modules/@nihalgonsalves/esconfig/.eslintrc",
  "ignorePatterns": ["**/build/", "**/dist/", "*.config.ts"],
  "overrides": [
    {
      "files": ["*.test.ts", "./packages/*/test/**/*"],
      "rules": {
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-non-null-assertion": "off",
        "import/no-extraneous-dependencies": [
          "error",
          { "devDependencies": true }
        ]
      }
    }
  ]
}
