@import "./tailwind.css";
@import "sonner/dist/styles.css";

body {
  overscroll-behavior-y: contain;
}

@media not (prefers-contrast: more) {
  * {
    scrollbar-color: var(--muted-foreground) var(--muted);
    scrollbar-width: thin;
  }
}
